.Cell {
  background: #ffbd69;
  margin: 1px;
}

.Cell--dead {
  background: #fe346e;

  &:hover {
    background: #e02158;
  }
}

.Cell--editable {
  &:hover {
    cursor: pointer;
    background: #e09e4a;
  }
}
