@import './normalize';
@import './reset';

html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  color: #fff;
  background-color: #381460;
  transition: 200ms;
}

.container {
  width: 1024px;
  margin: 1rem auto;

  @media (max-width: 1024px) {
    width: calc(100% - 1rem);
  }
}

.row {
  display: flex;
  align-items: flex-start;
}

.button {
  background-color: #f0a500;
  color: #000000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 600;
  margin-right: 1rem;

  &:hover {
    background: #f5bb3b;
  }

  &:disabled {
    background: #ccc;
    cursor: auto;

    &:hover {
      background: #ccc;
    }
  }
}

.button--success {
  background: #00bdaa;

  &:hover {
    background: #0bd0bc;
  }
}

.button--danger {
  background: #fe346e;

  &:hover {
    background: #f74e7e;
  }
}
