.GridEdit {
  margin-bottom: 2rem;
}

.GridEdit__form {
  input {
    width: 4rem;
    height: 2rem;
    border-radius: 5px;
    padding: 0 0.25rem;
  }

  label {
    margin-right: 1rem;
    font-weight: 600;
  }
}

.GridEdit__form-group {
  padding: 0.5rem 0;
  margin-right: 1rem;
  padding-bottom: 2rem;
}

.GridEdit__form__row {
  position: relative;
  margin-bottom: 1rem;
}

.GridEdit__error {
  color: #fe346e;
  font-weight: 600;
  position: absolute;
  bottom: 0;
}
